// colors
$bluemidnight: rgb(2, 5, 92);
$darktrasparent: rgba(0, 82, 97, 0.5);
$greydark: rgba(134, 134, 134, 0.5);
$darkorange: rgba(255, 72, 0, 0.5);
$lightgrey: rgb(197, 197, 197);

// fonts
$times: 'Times New Roman', Times, serif;
$mayusc: vampire;
$arial: arial;
$minuscule: monospace;
$normal: verdana;

// sizes
$maxwidth: 100%;
$medwidht: 50%;
$minwidth: 25%;
$maxpixels: 100px;
$medpixels: 50px;
$minpixels: 25px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: $bluemidnight;
    text-align: center;
    font-family: $mayusc;
    font-size: calc($medpixels - 5px);
    font-style: italic;
    color: aliceblue;
    padding: 20px 0 20px 0;
}

h2 {
    @extend h1;
    font-family: $arial !important;
    font-style: normal !important;
    font-size: calc($minpixels + 5px) !important;
    padding: 20px !important;
    width: $maxwidth !important;
}

h3 {
    @extend h2;
    margin-top: 20px !important;
    margin-bottom: 10px !important;
}

h4 {
    font-size: $minpixels;
    color: $darkorange !important;
}

body {
    background-image: url(../multimedia/imagenes/engranajes.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    background-color: black;

    .navbar-toggler {
        border: none;
        font-size: calc($minpixels + 10px);

        i {
            color: aliceblue;
        }
    }
}

.navbar-nav {
    li {
        background-color: $greydark;
        border: 3px solid $bluemidnight !important;
        border-radius: 10px;
        margin-left: 10px;
        font-family: $times;
        font-size: $minpixels;
        margin-right: 10px;

        .nav-link {
            padding: 15px;
            color: aliceblue !important;

            &:hover {
                color: $bluemidnight !important;
            }
        }
    }
}

main {
    background-color: $darktrasparent;
    width: calc($maxwidth - 20%);
    height: auto;
    margin: auto;
    border: 12px;
    max-width: 1500px;
}

.parraf {
    text-align: justify;
    font-family: $arial;
    color: lightgoldenrodyellow;
    word-spacing: 15px;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.imagefix {
    object-fit: contain;
}

.nright {
    background-color: $greydark;
}

.provers {
    margin: 50px 0 30px 0;
}

.galerie {
    width: $maxwidth;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(18, 200px);
    padding: 50px 0 50px 0;
    grid-row-gap: 30px;
    grid-column-gap: 10px;
}

.item {
    border: 2px solid transparente;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 5px;

    &:hover {
        transform: scale(1.1);
        transition: all 1.2s;
    }
}

@for $i from 1 through 18 {
    .item#{$i} {
        background-image: url(../multimedia/imagenes/img#{$i}.jpg);
    }
}

@for $i from 15 through 18 {
    .item#{$i} {
        background-image: url(../multimedia/imagenes/gif#{$i}.gif);
    }
}

.contact {
    background-color: $greydark;
    width: $maxwidth;
    height: auto;

    .esp {
        text-align: left;
        color: darkblue;
        font-size: calc($minpixels - 5px);
        padding-top: 20px;
        padding-left: 40px;
        padding-bottom: 10px;
    }
}

.prof {
    height: auto;
    width: calc($maxwidth - 5%);
}

.prof img{
    max-width: 200px;
}

.itemV {
    background-color: $darkorange;
    padding: 20px;
    margin: 50px 0 50px 0;
    width: $maxwidth;
    height: auto;
}

.card {
    background-color: $lightgrey !important;
    border-radius: 20px;
    padding: 5px;
        p {
            font-size: calc($minpixels + 5px) !important;
            color: goldenrod !important;
        }
}

footer {
    background-color: $greydark;
    width: $maxwidth;
    height: auto;
    display: inline-block;
}

.enlaces {
    margin: auto;
    width: 80%;
    ul {
        font-family: $normal;
        padding: 20px 0 0 20px;
        list-style-type: none;

        li {
            padding-top: 5px;

            a {
                text-decoration: none;
                color: whitesmoke;
            }
        }
    }
}

.redes {
    text-align: right;
    color: $bluemidnight;
    font-size: calc($minpixels + 10px);
    letter-spacing: 20px;
    padding: 0 15px 15px 0;
}

.Copyright {
    font-family: $minuscule;
    font-style: italic;
    font-size: calc($minpixels - 5px);
    padding: 0 0 10px 60px;
    text-align: center;
}

.up {
    position: fixed;
    right: 5px;
    bottom: 30px;
    background-color: $darktrasparent;
    padding: 10px;
    box-shadow: 0 0 5px white, 0 0 5px white;
    border-radius: 5px;

    i {
        color: aliceblue;
    }
}

.filtros i{
    font-size: 70px;
    background: #ffffff;
    border-radius: 100%;
    padding: 20px;
    color: $bluemidnight;
}
.filtros div{
    text-align: center;
}
::-webkit-scrollbar {
    background-color: $bluemidnight;
}

::-webkit-scrollbar-thumb {
    background-color: aliceblue;
    border-radius: 20px;
}

@media only screen and (min-width: 320px) {

    main {
        width: $maxwidth;
        height: auto;
    }

    .portada {
        display: none;
    }

    .item {
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        &:hover {
            transform: scale(1.05);
            transition: all 1.2s;
        }
    }

    .videos {
        display: inline-block;
        margin-bottom: 50px;
    }

    .parraf {
        padding: 0;
        font-size: $minpixels;
        text-align: center;
        p{
            padding: 0% !important;
            text-align: center !important;
        }
    }

    .contact {
        width: $maxwidth;
        height: auto;
        margin: 50px 0 50px 0;
        background-image: none;

        .esp {
            text-align: center;
            padding-left: 0;
        }
    }

    .itemV {
        margin: 5px 0 5px 0;
    }
}

@media only screen and (min-width: 600px) {

    .item {
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

        &:hover {
            transform: scale(1.05);
            transition: all 1.2s;
        }
    }

    main {
        background-color: $darktrasparent;
        width: $maxwidth;
        height: auto;
    }

    .contact {
        display: inline-block;
        width: $maxwidth;
        height: auto;
        margin: 50px 0 50px 0;
        background-color: $greydark;
    }

    .parraf {
        padding: 0;
        font-size: calc($medpixels - 10px);
        text-align: center;
    }

    .galerie {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 200px);
    }

    .item {
        background-size: cover;
    }

    @for $i from 1 through 14 {
        .item#{$i} {
            background-image: url(../multimedia/imagenes/img#{$i}.jpg);
        }
    }

    @for $i from 15 through 18 {
        .item#{$i} {
            background-image: url(../multimedia/imagenes/gif#{$i}.gif);
        }
    }
}

@media only screen and (min-width: 992px) {

    main {
        height: auto;
    }

    .item {
        border: 2px solid transparente;
        border-radius: 30px;
        background-size: cover;
        background-position: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin: 6px;

        &:hover {
            transform: scale(1.1);
            transition: all 1.2s;
        }
    }

    .galerie {
        width: $maxwidth;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 200px);
    }

    .item {
        background-size: cover;
    }

    @for $i from 1 through 14 {
        .item#{$i} {
            background-image: url(../multimedia/imagenes/img#{$i}.jpg);
        }
    }

    @for $i from 15 through 18 {
        .item#{$i} {
            background-image: url(../multimedia/imagenes/gif#{$i}.gif);
        }
    }

    .parraf {
        p {
            text-align: justify !important;
            img {
                width: calc($minwidth + 5%);
            }
        }
    }

    .contact {
        background-image: url(../multimedia/imagenes/operadora.jpg);
        background-size: cover;
        background-position: center;
        width: calc($maxwidth - 20%);
        height: auto;

        .esp {
            text-align: left;
            padding-top: 20px;
            padding-left: 40px;
            padding-bottom: 10px;
        }
    }
}

@media only screen and (min-width: 1200px) {

    h2 {
        text-align: center;
        font-size: calc($minpixels + 5px);
        color: aliceblue;
        background-color: $bluemidnight;
        width: calc($minwidth + 5%);
        height: 80px;
        margin-top: 100px;
        margin-bottom: 50px;
        padding: 15px;

    }

    @for $i from 1 through 14 {
        .item#{$i} {
            background-image: url(../multimedia/imagenes/img#{$i}.jpg);
        }
    }

    @for $i from 15 through 18 {
        .item#{$i} {
            background-image: url(../multimedia/imagenes/gif#{$i}.gif);
        }
    }
}
