* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  background-color: rgb(2, 5, 92);
  text-align: center;
  font-family: vampire;
  font-size: 45px;
  font-style: italic;
  color: aliceblue;
  padding: 20px 0 20px 0;
}

h2, h3 {
  font-family: arial !important;
  font-style: normal !important;
  font-size: 30px !important;
  padding: 20px !important;
  width: 100% !important;
}

h3 {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

h4 {
  font-size: 25px;
  color: rgba(255, 72, 0, 0.5) !important;
}

body {
  background-image: url(../multimedia/imagenes/engranajes.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  background-color: black;
}
.navbar .navbar-toggler {
  border: none;
  font-size: 35px;
}
.navbar .navbar-toggler i {
  color: aliceblue;
}

.navbar-nav li {
  background-color: rgba(134, 134, 134, 0.5);
  border: 3px solid rgb(2, 5, 92) !important;
  border-radius: 10px;
  margin-left: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  margin-right: 10px;
}
.navbar-nav li .nav-link {
  color: aliceblue !important;
}
.navbar-nav li .nav-link:hover {
  color: rgb(2, 5, 92) !important;
}

main {
  background-color: rgba(0, 82, 97, 0.5);
  width: 80%;
  height: auto;
  margin: auto;
  border: 12px;
  max-width: 1500px;
}

.parraf {
  text-align: justify;
  font-family: arial;
  color: lightgoldenrodyellow;
  word-spacing: 15px;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.imagefix {
  -o-object-fit: contain;
     object-fit: contain;
}

.nright {
  background-color: rgba(134, 134, 134, 0.5);
}

.provers {
  margin: 50px 0 30px 0;
}

.galerie {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(18, 200px);
  padding: 50px 0 50px 0;
  grid-row-gap: 30px;
  grid-column-gap: 10px;
}

.item {
  border: 2px solid transparente;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 5px;
}
.item:hover {
  transform: scale(1.1);
  transition: all 1.2s;
}

.item1 {
  background-image: url(../multimedia/imagenes/img1.jpg);
}

.item2 {
  background-image: url(../multimedia/imagenes/img2.jpg);
}

.item3 {
  background-image: url(../multimedia/imagenes/img3.jpg);
}

.item4 {
  background-image: url(../multimedia/imagenes/img4.jpg);
}

.item5 {
  background-image: url(../multimedia/imagenes/img5.jpg);
}

.item6 {
  background-image: url(../multimedia/imagenes/img6.jpg);
}

.item7 {
  background-image: url(../multimedia/imagenes/img7.jpg);
}

.item8 {
  background-image: url(../multimedia/imagenes/img8.jpg);
}

.item9 {
  background-image: url(../multimedia/imagenes/img9.jpg);
}

.item10 {
  background-image: url(../multimedia/imagenes/img10.jpg);
}

.item11 {
  background-image: url(../multimedia/imagenes/img11.jpg);
}

.item12 {
  background-image: url(../multimedia/imagenes/img12.jpg);
}

.item13 {
  background-image: url(../multimedia/imagenes/img13.jpg);
}

.item14 {
  background-image: url(../multimedia/imagenes/img14.jpg);
}

.item15 {
  background-image: url(../multimedia/imagenes/img15.jpg);
}

.item16 {
  background-image: url(../multimedia/imagenes/img16.jpg);
}

.item17 {
  background-image: url(../multimedia/imagenes/img17.jpg);
}

.item18 {
  background-image: url(../multimedia/imagenes/img18.jpg);
}

.item15 {
  background-image: url(../multimedia/imagenes/gif15.gif);
}

.item16 {
  background-image: url(../multimedia/imagenes/gif16.gif);
}

.item17 {
  background-image: url(../multimedia/imagenes/gif17.gif);
}

.item18 {
  background-image: url(../multimedia/imagenes/gif18.gif);
}

.contact {
  background-color: rgba(134, 134, 134, 0.5);
  width: 100%;
  height: auto;
}
.contact .esp {
  text-align: left;
  color: darkblue;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
}

.prof {
  height: auto;
  width: 95%;
}

.prof img {
  max-width: 200px;
}

.itemV {
  background-color: rgba(255, 72, 0, 0.5);
  padding: 20px;
  margin: 50px 0 50px 0;
  width: 100%;
  height: auto;
}

.card {
  background-color: rgb(197, 197, 197) !important;
  border-radius: 20px;
  padding: 5px;
}
.card p {
  font-size: 30px !important;
  color: goldenrod !important;
}

footer {
  background-color: rgba(134, 134, 134, 0.5);
  width: 100%;
  height: auto;
  display: inline-block;
}

.enlaces {
  margin: auto;
  width: 80%;
}
.enlaces ul {
  font-family: verdana;
  padding: 20px 0 0 20px;
  list-style-type: none;
}
.enlaces ul li {
  padding-top: 5px;
}
.enlaces ul li a {
  text-decoration: none;
  color: whitesmoke;
}

.redes {
  text-align: right;
  color: rgb(2, 5, 92);
  font-size: 35px;
  letter-spacing: 20px;
  padding: 0 15px 15px 0;
}

.Copyright {
  font-family: monospace;
  font-style: italic;
  font-size: 20px;
  padding: 0 0 10px 60px;
  text-align: center;
}

.up {
  position: fixed;
  right: 5px;
  bottom: 30px;
  background-color: rgba(0, 82, 97, 0.5);
  padding: 10px;
  box-shadow: 0 0 5px white, 0 0 5px white;
  border-radius: 5px;
}
.up i {
  color: aliceblue;
}

.filtros i {
  font-size: 70px;
  background: #ffffff;
  border-radius: 100%;
  padding: 20px;
  color: rgb(2, 5, 92);
}

.filtros div {
  text-align: center;
}

::-webkit-scrollbar {
  background-color: rgb(2, 5, 92);
}

::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 20px;
}

@media only screen and (min-width: 320px) {
  main {
    width: 100%;
    height: auto;
  }
  .portada {
    display: none;
  }
  .item {
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .item:hover {
    transform: scale(1.05);
    transition: all 1.2s;
  }
  .videos {
    display: inline-block;
    margin-bottom: 50px;
  }
  .parraf {
    padding: 0;
    font-size: 25px;
    text-align: center;
  }
  .parraf p {
    padding: 0% !important;
    text-align: center !important;
  }
  .contact {
    width: 100%;
    height: auto;
    margin: 50px 0 50px 0;
    background-image: none;
  }
  .contact .esp {
    text-align: center;
    padding-left: 0;
  }
  .itemV {
    margin: 5px 0 5px 0;
  }
}
@media only screen and (min-width: 600px) {
  .item {
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .item:hover {
    transform: scale(1.05);
    transition: all 1.2s;
  }
  main {
    background-color: rgba(0, 82, 97, 0.5);
    width: 100%;
    height: auto;
  }
  .contact {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 50px 0 50px 0;
    background-color: rgba(134, 134, 134, 0.5);
  }
  .parraf {
    padding: 0;
    font-size: 40px;
    text-align: center;
  }
  .galerie {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 200px);
  }
  .item {
    background-size: cover;
  }
  .item1 {
    background-image: url(../multimedia/imagenes/img1.jpg);
  }
  .item2 {
    background-image: url(../multimedia/imagenes/img2.jpg);
  }
  .item3 {
    background-image: url(../multimedia/imagenes/img3.jpg);
  }
  .item4 {
    background-image: url(../multimedia/imagenes/img4.jpg);
  }
  .item5 {
    background-image: url(../multimedia/imagenes/img5.jpg);
  }
  .item6 {
    background-image: url(../multimedia/imagenes/img6.jpg);
  }
  .item7 {
    background-image: url(../multimedia/imagenes/img7.jpg);
  }
  .item8 {
    background-image: url(../multimedia/imagenes/img8.jpg);
  }
  .item9 {
    background-image: url(../multimedia/imagenes/img9.jpg);
  }
  .item10 {
    background-image: url(../multimedia/imagenes/img10.jpg);
  }
  .item11 {
    background-image: url(../multimedia/imagenes/img11.jpg);
  }
  .item12 {
    background-image: url(../multimedia/imagenes/img12.jpg);
  }
  .item13 {
    background-image: url(../multimedia/imagenes/img13.jpg);
  }
  .item14 {
    background-image: url(../multimedia/imagenes/img14.jpg);
  }
  .item15 {
    background-image: url(../multimedia/imagenes/gif15.gif);
  }
  .item16 {
    background-image: url(../multimedia/imagenes/gif16.gif);
  }
  .item17 {
    background-image: url(../multimedia/imagenes/gif17.gif);
  }
  .item18 {
    background-image: url(../multimedia/imagenes/gif18.gif);
  }
}
@media only screen and (min-width: 992px) {
  main {
    height: auto;
  }
  .item {
    border: 2px solid transparente;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin: 6px;
  }
  .item:hover {
    transform: scale(1.1);
    transition: all 1.2s;
  }
  .galerie {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 200px);
  }
  .item {
    background-size: cover;
  }
  .item1 {
    background-image: url(../multimedia/imagenes/img1.jpg);
  }
  .item2 {
    background-image: url(../multimedia/imagenes/img2.jpg);
  }
  .item3 {
    background-image: url(../multimedia/imagenes/img3.jpg);
  }
  .item4 {
    background-image: url(../multimedia/imagenes/img4.jpg);
  }
  .item5 {
    background-image: url(../multimedia/imagenes/img5.jpg);
  }
  .item6 {
    background-image: url(../multimedia/imagenes/img6.jpg);
  }
  .item7 {
    background-image: url(../multimedia/imagenes/img7.jpg);
  }
  .item8 {
    background-image: url(../multimedia/imagenes/img8.jpg);
  }
  .item9 {
    background-image: url(../multimedia/imagenes/img9.jpg);
  }
  .item10 {
    background-image: url(../multimedia/imagenes/img10.jpg);
  }
  .item11 {
    background-image: url(../multimedia/imagenes/img11.jpg);
  }
  .item12 {
    background-image: url(../multimedia/imagenes/img12.jpg);
  }
  .item13 {
    background-image: url(../multimedia/imagenes/img13.jpg);
  }
  .item14 {
    background-image: url(../multimedia/imagenes/img14.jpg);
  }
  .item15 {
    background-image: url(../multimedia/imagenes/gif15.gif);
  }
  .item16 {
    background-image: url(../multimedia/imagenes/gif16.gif);
  }
  .item17 {
    background-image: url(../multimedia/imagenes/gif17.gif);
  }
  .item18 {
    background-image: url(../multimedia/imagenes/gif18.gif);
  }
  .parraf p {
    text-align: justify !important;
  }
  .parraf p img {
    width: 30%;
  }
  .contact {
    background-image: url(../multimedia/imagenes/operadora.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: auto;
  }
  .contact .esp {
    text-align: left;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  h2, h3 {
    text-align: center;
    font-size: 30px;
    color: aliceblue;
    background-color: rgb(2, 5, 92);
    width: 30%;
    height: 80px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 15px;
  }
  .item1 {
    background-image: url(../multimedia/imagenes/img1.jpg);
  }
  .item2 {
    background-image: url(../multimedia/imagenes/img2.jpg);
  }
  .item3 {
    background-image: url(../multimedia/imagenes/img3.jpg);
  }
  .item4 {
    background-image: url(../multimedia/imagenes/img4.jpg);
  }
  .item5 {
    background-image: url(../multimedia/imagenes/img5.jpg);
  }
  .item6 {
    background-image: url(../multimedia/imagenes/img6.jpg);
  }
  .item7 {
    background-image: url(../multimedia/imagenes/img7.jpg);
  }
  .item8 {
    background-image: url(../multimedia/imagenes/img8.jpg);
  }
  .item9 {
    background-image: url(../multimedia/imagenes/img9.jpg);
  }
  .item10 {
    background-image: url(../multimedia/imagenes/img10.jpg);
  }
  .item11 {
    background-image: url(../multimedia/imagenes/img11.jpg);
  }
  .item12 {
    background-image: url(../multimedia/imagenes/img12.jpg);
  }
  .item13 {
    background-image: url(../multimedia/imagenes/img13.jpg);
  }
  .item14 {
    background-image: url(../multimedia/imagenes/img14.jpg);
  }
  .item15 {
    background-image: url(../multimedia/imagenes/gif15.gif);
  }
  .item16 {
    background-image: url(../multimedia/imagenes/gif16.gif);
  }
  .item17 {
    background-image: url(../multimedia/imagenes/gif17.gif);
  }
  .item18 {
    background-image: url(../multimedia/imagenes/gif18.gif);
  }
}/*# sourceMappingURL=styles.css.map */